.hero {
    position: relative;
    height: 100vh;
}

.hero-div {
    width: 100%;
    height: 100%;
    position: relative;
}

.name h1 {
    font-size: 145px;
    color: goldenrod;
    font-weight: bolder;
    line-height: 1.1;
} 


.name {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    font-weight: bolder;

}
/*
.split-parent {
    display: inline-block;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
    will-change: transform, opacity;
    color: white !important;
    font-size: 50px !important;
    font-weight: 900 !important;
    top: 10% !important;
    left: 50% !important;
    transform: translate(-50%, 0) !important;
}
*/
.left-bra {
    color: white
}

.right-bra {
    color: white
}
/* 
.infos h1 {
    top: 50%;
} 
 
.infos {
    top: 50%;
} */
