.text-type {
  display: inline-block;
  position: absolute;
  white-space: pre-wrap;
  top: 70%;
  font-weight: 900;
  font-size: larger;
  /* left: 50%; */
  transform: translate(-50%, 0%);
  color: white;
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}
